.button{
    color:#ffffff;
    background-color: #4c4545;
    border: none;
    width: 100px;
    border-radius: 7px;
    margin-right: 10px;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 500;
 


    
}
.button:hover{
    background-color: #f2f3f2;
   
 
    cursor: pointer;
    color: rgb(15, 18, 16);
    border:1px dashed rgb(55, 51, 51);
  

}